grpc:
  server:
    port: 9092
    reflection:
      enabled: true

spring:
  application:
    name: equipment-service

  datasource:
    url: jdbc:postgresql://localhost:5432/heavyrent_equipment
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:8080/oauth2/jwks